<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gavin.mapper.WxTokenMapper">

	
	<resultMap type="com.gavin.pojo.WxToken" id="WxTokenMap">
		<id column="id" property="id" />
		<result column="token_type" property="tokenType"/>
		<result column="access_token" property="accessToken"/>
		<result column="expires_in" property="expiresIn"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
		<result column="last_upd_time" property="lastUpdTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
		<result column="refresh_count" property="refreshCount" />
		<result column="platform" property="platform"/>
	</resultMap>
	
	<select id="select" parameterType="com.gavin.pojo.WxToken" resultMap="WxTokenMap">
		SELECT *
		FROM wx_token
		<trim prefix="where" prefixOverrides="and|or|AND|OR">
			<if test="id != null and id > 0">
				AND id = #{id}
			</if>
			<if test="tokenType != null and tokenType != '' ">				
				AND token_type = #{tokenType}
			</if>
			<if test="platform != null and platform != '' ">
				AND platform = #{platform}
			</if>
		</trim>
	</select>
	
	<insert id="insert" parameterType="com.gavin.pojo.WxToken">
		INSERT INTO wx_token
		(
			token_type
			,access_token
			,expires_in
			,create_time
			,last_upd_time
			,refresh_count
			,platform
		)
		VALUES
		(
			#{tokenType}
			,#{accessToken}
			,#{expiresIn}
			,now()
			,now()
			,#{refreshCount}
			,#{platform}
		)
	</insert>
	
	<update id="update" parameterType="com.gavin.pojo.WxToken">
		UPDATE wx_token
		<trim prefix="set" prefixOverrides=",">
			<if test="tokenType != null and tokenType != '' ">
				,token_type = #{tokenType}
			</if>
			<if test="accessToken != null and accessToken != '' ">
				,access_token = #{accessToken}
			</if>
			<if test="expiresIn != null">
				,expires_in = #{expiresIn}
			</if>
			<if test="true">
				,last_upd_time = now()
			</if>
			<if test="refreshCount != null">
				,refresh_count = #{refreshCount}
			</if>
			<if test="platform != null and platform != '' ">
				,platform = #{platform}
			</if>
		</trim>
		WHERE id = #{id}
	</update>

   
</mapper>